.main{
   /* background-color: aqua;
    height: 100px;
    width: 500px;*/
    /* background-image:url(../Randy-Orton-02.jpg) ;
     */
background-color: rgb(214, 127, 255);
background-image: url(/Randy-Orton-02.jpg);
height: 500px;
color: antiquewhite;
background-repeat: no-repeat;
/*width: 1000px;*/
/*overflow: auto;*/
background-position:center center;
background-attachment: fixed;

    }